<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-title color="light">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid color="light">
    <ion-row>
      <ion-col size="12">
        <ion-list mode="ios">
          <ion-item>
            <strong>App Name: </strong>Iweather
          </ion-item>
          <ion-item>
            <strong>Version: </strong>1.0.0
          </ion-item>
          <ion-item>
            <strong>Description: </strong>Weather App
          </ion-item>
          <ion-item detail="false" lines="none" href="https://www.facebook.com/lemgabet" target="_blank">
            <ion-label color="danger" slot="end">#ByElGhoul</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>